/* Styles for the whole sheet */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* For some reason I was having my title being displayed as text at the top of my page */
head {
  display: none;
}

/* I liked this, I never noticed how much a white background hurts my eyes */
body {
  background-color: #d9dcd6;
  margin: 0;
  max-width: 2100px;
}

/* Styles for header
‣ sets it to the width of the window
‣ flex-direction in row, wrap allowed
‣ center content
‣ extra space gets put between the h1 and nav
 */
header {
  width: 100%;
  padding: 20px;
  background-color: #2a607c;
  color: #ffffff;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
}

h1 {
  font-size: 48px;
  margin: 0 20px;
}

/* Styles for ul
‣ removes list bullet points
‣ flex-direction row, allows wrap and pushes the ul to the end of the flexbox
 */
 nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px 20px 20px 0;
}

nav ul li {
  font-size: 20px;
  margin-left: 25px;
}

.background {
  height: auto;
  width: 100%;
}

/* Styles for the article.columns
This sets the main and aside.ouside in flex row with extra space between */
.columns {
  flex-direction: row;
  justify-content: space-between;
}

main {
  flex-wrap: wrap;
  padding: 20px 20px 0 20px;
}

/* Styles for article.main
‣ width fit to content
‣ flex-direction row for the .float and .text
*/
.main {
  width: fit-content;
  padding: 50px;
  margin-bottom: 20px;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  flex-direction: row;
  min-width: 395px;
}

/* Link styles
‣ remove underline
*/
a {
  color: #ffffffe0;
  text-decoration: none;
}

/* Styles for .text
‣ flex-direction column
‣ center content
‣ text align to left
*/
.text {
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

p {
  flex-wrap: wrap;
  font-size: 16px;
}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
  display: flex;
  text-align: Left;
}

/* Flips the img float.right to the right side of the container */
.online-reputation-management {
  flex-direction: row-reverse;
}

.float {
  display: flex;
  height: 20vw;
  border: 1px solid #0072bb;
  border-radius: 25px;
}

.left {
  margin-right: 25px;
}

.right {
  margin-left: 25px;
}

/* .outside max with is set to min width of content */
.outside {
  margin: 20px 20px 0 0;
  padding-bottom: 20px;
  max-width: min-content;
}

/* Styles for article.inside 
‣ flex-direction column and allowed wrap
‣ width fit to content
‣ cernter content
‣ extra space inbetween the items
*/
.inside {
  flex-wrap: wrap;
  flex-direction: column;
  clear: both;
  height: 100%;
  width: fit-content;
  min-width: 200px;
  max-width: 25%;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
  padding: 20px 20px;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}

.aside {
  align-items: center;
  margin-bottom: 32px;
}

h3 {
  text-align: center;
}

.aside-img {
  width: 80%;
  align-items: center;
}

/* Center footer p */
footer {
  bottom: 0;
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

/* Center footer h2 */
footer h2 {
  font-size: 20px;
  text-align: center;
}

/* If screen max width<= 1045px move sidebar below main and center both*/
@media screen and (max-width: 1045px) {
  body {
    min-width: 440px;
  }

  .article {
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .outside {
    align-items: center;
    justify-content: center;
  }

  main {
    width: 100%;
    align-content: center;
  }

  .columns {
    flex-direction: column;
    width: 100%;
  }

  .inside {
    margin-top: 0;
    max-width: 50%;
    margin: 0;
    align-content: center;
  }

  .outside {
    min-width: 100%;
    margin: 0;
  }

  header {
    flex-direction: column;
  }

  .text {
    text-align: center;
  }

  .float {
    margin: 0 0 25px 0;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}

/* If screen max width<= 870px */
@media screen and (max-width: 870px) {

  /* Nav flex-direction column and center items */
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}